@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../images/siteBackground.jpg)
	}
#headerContainer{
height:100px;	
background-color:#960;
}
#MyCurtain
{
/*by defualt style of curtain*/
position: absolute; top: 0; right: 0; border: 0; 
}
.mybtn{
	background-color:#faa732;
	color:rgba(255,255,255,0.75);
}
.event{
width:80px;
height:10px;
color:#C6F;
background-color:#FF0;
}
#container{
background-color:red;
}

	
	
	
	
	
	